openapi: 3.1.0

info:
  title: Zion Crypto payment gateway
  version: "1.0.0"
  description: |
    Zion — криптоплатёжный шлюз с поддержкой USDT (TRC-20, ERC-20) и других
    криптовалют. Предназначен для мерчантов, которым нужно принимать
    крипто-платежи, создавать инвойсы, управлять подписками и делать выводы
    средств. Все операции работают через REST API с JSON-телом.

    ## Авторизация

    Чтобы получить API-ключ, зарегистрируйтесь на https://zionpayment.com и
    сгенерируйте ключ в дашборде в разделе настроек магазина. Передавайте его
    в заголовке `Authorization: Token <ваш-api-key>` (именно с префиксом
    `Token`, а не `Bearer`).

    ```
    curl -H "Authorization: Token <your-api-key>" \
         -H "Content-Type: application/json" \
         https://api.zionpayment.com/api/v1/shops/
    ```

    ## Вебхуки

    Zion отправляет webhook на ваш Callback URL (настраивается в дашборде)
    при изменении статусов платежей и выводов. Подпись передаётся в заголовке
    `X-Signature` (HMAC SHA-1 от raw body, hex). Секрет — `Hook.secret` из
    настроек магазина.

  contact:
    name: Zion Payment
    url: https://zionpayment.com
  license:
    name: Proprietary
    url: https://zionpayment.com

servers:
  - url: https://api.zionpayment.com
    description: Production

tags:
  - name: Authentication
    description: Информация об авторизации и получении API-ключа.
  - name: Shops
    description: Управление магазинами мерчанта.
  - name: Invoices
    description: Создание и управление инвойсами (счетами на оплату).
  - name: Donation Links
    description: Ссылки для приёма донатов с произвольной суммой.
  - name: POS Links
    description: POS-ссылки для оплаты в точке продажи.
  - name: Subscriptions
    description: Управление подписками и периодическими платежами.
  - name: Payments
    description: Крипто-платежи — создание, статусы, управление.
  - name: Fiat Payments
    description: Платежи в фиатной валюте (карта, банк).
  - name: Withdrawals
    description: Выводы средств — обычные, с OTP, affiliate, массовые.
  - name: Conversions
    description: Конвертация между криптовалютами.
  - name: Members
    description: Управление участниками (сотрудниками) магазина.
  - name: Tokens
    description: API-токены магазина — создание, отзыв.
  - name: Wallets & IPs
    description: Кошельки для авто-выплат и белые списки IP-адресов.
  - name: Affiliate
    description: Реферальные ссылки, депозиты и статистика партнёрской программы.
  - name: Analytics
    description: Ежедневная и ежемесячная статистика депозитов.
  - name: Webhooks (incoming)
    description: Исходящие события Zion — доставляются на ваш Callback URL.
  - name: Health
    description: Проверка работоспособности сервиса.

x-tagGroups:
  - name: Getting started
    tags:
      - Authentication
      - Health
  - name: Commerce
    tags:
      - Shops
      - Invoices
      - Donation Links
      - POS Links
      - Subscriptions
      - Payments
      - Fiat Payments
  - name: Money out
    tags:
      - Withdrawals
      - Conversions
  - name: Configuration
    tags:
      - Members
      - Tokens
      - Wallets & IPs
  - name: Analytics
    tags:
      - Affiliate
      - Analytics
  - name: Realtime
    tags:
      - Webhooks (incoming)

security:
  - TokenAuth: []

paths:
  /health:
    get:
      tags:
        - Health
      summary: Проверка работоспособности
      description: Проверка работоспособности сервиса.
      operationId: getHealth
      security: []
      responses:
        '200':
          description: Сервис работает нормально.
          content:
            application/json:
              schema:
                type: object
                required:
                  - status
                  - timestamp
                properties:
                  status:
                    type: string
                    enum:
                      - ok
                    example: ok
                  timestamp:
                    type: string
                    format: date-time
                    example: "2026-05-25T12:00:00Z"
              example:
                status: ok
                timestamp: "2026-05-25T12:00:00Z"

  /api/v1/shops/:
    get:
      tags:
        - Shops
      summary: Список магазинов
      description: >
        Возвращает список магазинов, доступных текущему пользователю.
        Поддерживает пагинацию (limit/offset) и сортировку.
      operationId: listShops
      parameters:
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/OffsetParam'
        - $ref: '#/components/parameters/OrderingParam'
      responses:
        '200':
          description: Список магазинов успешно получен.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedShops'
              example:
                count: 2
                next: null
                previous: null
                results:
                  - id: "feff876c-aaa5-4c65-9483-75498deabe28"
                    name: "My Crypto Shop"
                    active: true
                    mock: false
                    webhook_url: "https://example.com/webhooks/zion"
                    hmac_secret: "1e4b6d020d81cc5749a9e370a946c0ef"
                    website_link: "https://example.com"
                    cancel_url: "https://example.com/payment/cancel"
                    success_url: "https://example.com/payment/success"
                    commission_rate: "0.0100"
                    underpaid_threshold: "0.00"
                    overpaid_threshold: "0.00"
                    auto_convert: false
                    auto_convert_currency_id: null
                    auto_withdraw: false
                    other_enabled: true
                    popular_enabled: true
                    stable_enabled: true
                    created_at: "2023-12-20T11:03:20.888Z"
                    modified_at: "2023-12-20T11:03:20.892Z"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    post:
      tags:
        - Shops
      summary: Создать магазин
      description: >
        Создаёт новый магазин для текущего пользователя.
        После создания необходимо настроить `webhook_url` для получения уведомлений
        о платежах.
      operationId: createShop
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
              properties:
                name:
                  type: string
                  description: Название магазина.
                  example: "My New Shop"
                webhook_url:
                  type: string
                  format: uri
                  nullable: true
                  description: URL для вебхуков Zion.
                  example: "https://example.com/webhooks/zion"
                website_link:
                  type: string
                  format: uri
                  nullable: true
                  example: "https://example.com"
                cancel_url:
                  type: string
                  format: uri
                  nullable: true
                  example: "https://example.com/payment/cancel"
                success_url:
                  type: string
                  format: uri
                  nullable: true
                  example: "https://example.com/payment/success"
                underpaid_threshold:
                  type: string
                  pattern: "^[0-9]+\\.[0-9]+$"
                  example: "0.00"
                overpaid_threshold:
                  type: string
                  pattern: "^[0-9]+\\.[0-9]+$"
                  example: "0.00"
                auto_convert:
                  type: boolean
                  example: false
                auto_convert_currency_id:
                  type: string
                  format: uuid
                  nullable: true
                  example: null
                auto_withdraw:
                  type: boolean
                  example: false
                other_enabled:
                  type: boolean
                  example: true
                popular_enabled:
                  type: boolean
                  example: true
                stable_enabled:
                  type: boolean
                  example: true
            example:
              name: "My New Shop"
              webhook_url: "https://example.com/webhooks/zion"
              website_link: "https://example.com"
              cancel_url: "https://example.com/payment/cancel"
              success_url: "https://example.com/payment/success"
              underpaid_threshold: "0.00"
              overpaid_threshold: "0.00"
              auto_convert: false
              auto_withdraw: false
              other_enabled: true
              popular_enabled: true
              stable_enabled: true
      responses:
        '201':
          description: Магазин успешно создан.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Shop'
              example:
                id: "feff876c-aaa5-4c65-9483-75498deabe28"
                name: "My New Shop"
                active: true
                mock: false
                webhook_url: "https://example.com/webhooks/zion"
                hmac_secret: "1e4b6d020d81cc5749a9e370a946c0ef"
                website_link: "https://example.com"
                cancel_url: "https://example.com/payment/cancel"
                success_url: "https://example.com/payment/success"
                commission_rate: "0.0100"
                underpaid_threshold: "0.00"
                overpaid_threshold: "0.00"
                auto_convert: false
                auto_convert_currency_id: null
                auto_withdraw: false
                other_enabled: true
                popular_enabled: true
                stable_enabled: true
                created_at: "2026-05-25T10:00:00.000Z"
                modified_at: "2026-05-25T10:00:00.000Z"
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /api/v1/shops/{shop_id}/:
    get:
      tags:
        - Shops
      summary: Получить магазин
      description: Возвращает детали конкретного магазина по его ID.
      operationId: getShop
      parameters:
        - $ref: '#/components/parameters/ShopIdPath'
      responses:
        '200':
          description: Детали магазина.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Shop'
              example:
                id: "feff876c-aaa5-4c65-9483-75498deabe28"
                name: "My Crypto Shop"
                active: true
                mock: false
                webhook_url: "https://example.com/webhooks/zion"
                hmac_secret: "1e4b6d020d81cc5749a9e370a946c0ef"
                website_link: "https://example.com"
                cancel_url: "https://example.com/payment/cancel"
                success_url: "https://example.com/payment/success"
                commission_rate: "0.0100"
                underpaid_threshold: "0.00"
                overpaid_threshold: "0.00"
                auto_convert: false
                auto_convert_currency_id: null
                auto_withdraw: false
                other_enabled: true
                popular_enabled: true
                stable_enabled: true
                created_at: "2023-12-20T11:03:20.888Z"
                modified_at: "2023-12-20T11:03:20.892Z"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    patch:
      tags:
        - Shops
      summary: Обновить магазин
      description: >
        Частично обновляет настройки магазина. Все поля опциональны.
        Поля `id`, `active`, `mock`, `hmac_secret`, `commission_rate`, `created_at`, `modified_at`
        доступны только для чтения и не принимаются в теле запроса.
      operationId: updateShop
      parameters:
        - $ref: '#/components/parameters/ShopIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  example: "Updated Shop Name"
                webhook_url:
                  type: string
                  format: uri
                  nullable: true
                  example: "https://example.com/webhooks/zion"
                website_link:
                  type: string
                  format: uri
                  nullable: true
                  example: "https://example.com"
                cancel_url:
                  type: string
                  format: uri
                  nullable: true
                  example: "https://example.com/payment/cancel"
                success_url:
                  type: string
                  format: uri
                  nullable: true
                  example: "https://example.com/payment/success"
                underpaid_threshold:
                  type: string
                  pattern: "^[0-9]+\\.[0-9]+$"
                  example: "0.05"
                overpaid_threshold:
                  type: string
                  pattern: "^[0-9]+\\.[0-9]+$"
                  example: "0.00"
                auto_convert:
                  type: boolean
                  example: false
                auto_convert_currency_id:
                  type: string
                  format: uuid
                  nullable: true
                  example: null
                auto_withdraw:
                  type: boolean
                  example: false
                other_enabled:
                  type: boolean
                  example: true
                popular_enabled:
                  type: boolean
                  example: true
                stable_enabled:
                  type: boolean
                  example: true
            example:
              webhook_url: "https://example.com/webhooks/zion-v2"
              underpaid_threshold: "0.05"
      responses:
        '200':
          description: Магазин успешно обновлён.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Shop'
              example:
                id: "feff876c-aaa5-4c65-9483-75498deabe28"
                name: "My Crypto Shop"
                active: true
                mock: false
                webhook_url: "https://example.com/webhooks/zion-v2"
                hmac_secret: "1e4b6d020d81cc5749a9e370a946c0ef"
                website_link: "https://example.com"
                cancel_url: "https://example.com/payment/cancel"
                success_url: "https://example.com/payment/success"
                commission_rate: "0.0100"
                underpaid_threshold: "0.05"
                overpaid_threshold: "0.00"
                auto_convert: false
                auto_convert_currency_id: null
                auto_withdraw: false
                other_enabled: true
                popular_enabled: true
                stable_enabled: true
                created_at: "2023-12-20T11:03:20.888Z"
                modified_at: "2026-05-25T10:30:00.000Z"
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /api/v1/shops/{shop_id}/default/:
    post:
      tags:
        - Shops
      summary: Сделать магазин дефолтным
      description: >
        Помечает указанный магазин дефолтным для текущего пользователя.
        Дефолтный магазин используется как магазин по умолчанию при работе
        с ShopTokenAuthentication, если `shop_id` явно не передан.
      operationId: setDefaultShop
      parameters:
        - $ref: '#/components/parameters/ShopIdPath'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Магазин помечен как дефолтный.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Shop'
              example:
                id: "feff876c-aaa5-4c65-9483-75498deabe28"
                name: "My Crypto Shop"
                active: true
                mock: false
                webhook_url: "https://example.com/webhooks/zion"
                hmac_secret: "1e4b6d020d81cc5749a9e370a946c0ef"
                website_link: "https://example.com"
                cancel_url: "https://example.com/payment/cancel"
                success_url: "https://example.com/payment/success"
                commission_rate: "0.0100"
                underpaid_threshold: "0.00"
                overpaid_threshold: "0.00"
                auto_convert: false
                auto_convert_currency_id: null
                auto_withdraw: false
                other_enabled: true
                popular_enabled: true
                stable_enabled: true
                created_at: "2023-12-20T11:03:20.888Z"
                modified_at: "2023-12-20T11:03:20.892Z"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /api/v1/shops/{shop_id}/balance/:
    get:
      tags:
        - Shops
      summary: Текущий баланс магазина
      description: >
        Возвращает текущий баланс магазина с разбивкой по валютам.
        Баланс рассчитывается из внутренних транзакций `core_internaltransaction`
        (Deposit / Withdraw / Fee).
      operationId: getShopBalance
      parameters:
        - $ref: '#/components/parameters/ShopIdPath'
      responses:
        '200':
          description: Текущий баланс магазина.
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  $ref: '#/components/schemas/Money'
                description: >
                  Словарь `{currency_code: balance}`, где ключ — код криптовалюты
                  (например `"USDT"`, `"ETH"`), значение — баланс как строка.
              example:
                USDT: "1250.500000"
                ETH: "0.350000"
                BTC: "0.012500"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /api/v1/shops/{shop_id}/estimated-balance/:
    get:
      tags:
        - Shops
      summary: Оценочный баланс магазина
      description: >
        Возвращает оценочный (ожидаемый к получению) баланс магазина.
        Учитывает платежи в статусе PENDING, которые ещё не подтверждены блокчейном.
      operationId: getShopEstimatedBalance
      parameters:
        - $ref: '#/components/parameters/ShopIdPath'
      responses:
        '200':
          description: Оценочный баланс магазина.
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  $ref: '#/components/schemas/Money'
                description: >
                  Словарь `{currency_code: estimated_balance}`.
              example:
                USDT: "500.000000"
                ETH: "0.100000"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /api/v1/shops/{shop_id}/affiliate-balance/:
    get:
      tags:
        - Shops
      summary: Реферальный баланс магазина
      description: >
        Возвращает реферальный (affiliate) баланс магазина — средства, накопленные
        от партнёрской программы и доступные для вывода через `affiliate-withdrawals`.
      operationId: getShopAffiliateBalance
      parameters:
        - $ref: '#/components/parameters/ShopIdPath'
      responses:
        '200':
          description: Реферальный баланс магазина.
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  $ref: '#/components/schemas/Money'
                description: >
                  Словарь `{currency_code: affiliate_balance}`.
              example:
                USDT: "75.250000"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /api/v1/shops/{shop_id}/total-deposits-summary/:
    get:
      tags:
        - Shops
      summary: Итоговая сводка депозитов
      description: >
        Возвращает агрегированную сводку по всем завершённым депозитам магазина
        с разбивкой по валютам: общее количество и суммы.
      operationId: getShopTotalDepositsSummary
      parameters:
        - $ref: '#/components/parameters/ShopIdPath'
      responses:
        '200':
          description: Итоговая сводка депозитов.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_count:
                    type: integer
                    description: Общее число завершённых депозитов.
                    example: 348
                  currencies:
                    type: array
                    description: Сводка по каждой валюте.
                    items:
                      type: object
                      properties:
                        currency:
                          type: string
                          description: Код криптовалюты.
                          example: "USDT"
                        total_amount:
                          $ref: '#/components/schemas/Money'
                        count:
                          type: integer
                          description: Число депозитов в этой валюте.
                          example: 210
              example:
                total_count: 348
                currencies:
                  - currency: "USDT"
                    total_amount: "48250.500000"
                    count: 210
                  - currency: "ETH"
                    total_amount: "12.750000"
                    count: 138
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /api/v1/shops/{shop_id}/affiliate-stats/:
    get:
      tags:
        - Shops
      summary: Статистика партнёрской программы
      description: >
        Возвращает статистику по реферальной (affiliate) программе магазина:
        число привлечённых пользователей, суммы комиссий по уровням.
      operationId: getShopAffiliateStats
      parameters:
        - $ref: '#/components/parameters/ShopIdPath'
      responses:
        '200':
          description: Статистика партнёрской программы.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_referrals:
                    type: integer
                    description: Общее число рефералов.
                    example: 15
                  levels:
                    type: array
                    description: Разбивка по уровням реферальной программы.
                    items:
                      type: object
                      properties:
                        level:
                          type: integer
                          description: Уровень реферальной программы (1, 2, 3...).
                          example: 1
                        count:
                          type: integer
                          description: Число рефералов на этом уровне.
                          example: 10
                        total_amount:
                          $ref: '#/components/schemas/Money'
              example:
                total_referrals: 15
                levels:
                  - level: 1
                    count: 10
                    total_amount: "250.000000"
                  - level: 2
                    count: 5
                    total_amount: "50.000000"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /api/v1/shops/{shop_id}/invoices/:
    get:
      tags:
        - Invoices
      summary: Список инвойсов
      description: >
        Возвращает список инвойсов магазина с поддержкой пагинации и фильтрации.
        Фильтры: `reference`, `order_id`, `created_at`.
      operationId: listInvoices
      parameters:
        - $ref: '#/components/parameters/ShopIdPath'
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/OffsetParam'
        - $ref: '#/components/parameters/OrderingParam'
        - $ref: '#/components/parameters/CreatedAtAfter'
        - $ref: '#/components/parameters/CreatedAtBefore'
        - name: reference
          in: query
          required: false
          schema:
            type: string
          description: Фильтр по полю `reference` (точное совпадение).
          example: "e477b48c41"
        - name: order_id
          in: query
          required: false
          schema:
            type: string
          description: Фильтр по `order_id` мерчанта.
          example: "order-2026-001"
      responses:
        '200':
          description: Список инвойсов успешно получен.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedInvoices'
              example:
                count: 1
                next: null
                previous: null
                results:
                  - id: "e5cf9fc4-35af-456c-9f15-17823f44488d"
                    shop: "feff876c-aaa5-4c65-9483-75498deabe28"
                    reference: "e477b48c41"
                    order_id: "order-2026-001"
                    order_description: "Оплата подписки Pro, 1 месяц"
                    amount: "10.000000"
                    currency: "USDTERC20"
                    method: "ONLINE"
                    fixed_rate: true
                    fee_paid_by_user: null
                    commission_paid_by_user: null
                    cancel_url: null
                    success_url: null
                    created_at: "2026-05-25T10:00:00.000Z"
                    modified_at: "2026-05-25T10:00:00.000Z"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    post:
      tags:
        - Invoices
      summary: Создать инвойс
      description: >
        Создаёт новый инвойс (счёт на оплату) в указанном магазине.
        После создания плательщик должен перейти по `payment_url` для оплаты
        (платёж создаётся через `POST /invoices/{invoice_id}/payments/` публичного API).
      operationId: createInvoice
      parameters:
        - $ref: '#/components/parameters/ShopIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvoiceCreateRequest'
            example:
              order_id: "order-2026-001"
              order_description: "Оплата подписки Pro, 1 месяц"
              amount: "10.000000"
              currency: "USDTERC20"
              method: "ONLINE"
              fixed_rate: true
      responses:
        '201':
          description: Инвойс успешно создан.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
              example:
                id: "e5cf9fc4-35af-456c-9f15-17823f44488d"
                shop: "feff876c-aaa5-4c65-9483-75498deabe28"
                reference: "e477b48c41"
                order_id: "order-2026-001"
                order_description: "Оплата подписки Pro, 1 месяц"
                amount: "10.000000"
                currency: "USDTERC20"
                method: "ONLINE"
                fixed_rate: true
                fee_paid_by_user: null
                commission_paid_by_user: null
                cancel_url: null
                success_url: null
                created_at: "2026-05-25T10:00:00.000Z"
                modified_at: "2026-05-25T10:00:00.000Z"
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /api/v1/shops/{shop_id}/invoices/{invoice_id}/:
    get:
      tags:
        - Invoices
      summary: Получить инвойс
      description: Возвращает детали инвойса по его ID.
      operationId: getInvoice
      parameters:
        - $ref: '#/components/parameters/ShopIdPath'
        - $ref: '#/components/parameters/InvoiceIdPath'
      responses:
        '200':
          description: Детали инвойса.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
              example:
                id: "e5cf9fc4-35af-456c-9f15-17823f44488d"
                shop: "feff876c-aaa5-4c65-9483-75498deabe28"
                reference: "e477b48c41"
                order_id: "order-2026-001"
                order_description: "Оплата подписки Pro, 1 месяц"
                amount: "10.000000"
                currency: "USDTERC20"
                method: "ONLINE"
                fixed_rate: true
                fee_paid_by_user: null
                commission_paid_by_user: null
                cancel_url: null
                success_url: null
                created_at: "2026-05-25T10:00:00.000Z"
                modified_at: "2026-05-25T10:00:00.000Z"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /api/v1/shops/{shop_id}/donation-links/:
    get:
      tags:
        - Donation Links
      summary: Список донат-ссылок
      description: >
        Возвращает список донат-ссылок магазина с поддержкой пагинации.
        Донат-ссылки позволяют принимать платежи произвольной суммы по
        постоянной ссылке вида `https://zionpayment.com/d/<slug>/`.
      operationId: listDonationLinks
      parameters:
        - $ref: '#/components/parameters/ShopIdPath'
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/OffsetParam'
        - $ref: '#/components/parameters/OrderingParam'
      responses:
        '200':
          description: Список донат-ссылок успешно получен.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedDonationLinks'
              example:
                count: 1
                next: null
                previous: null
                results:
                  - id: "8b463fd1-bd03-496b-840c-08eb3518cea0"
                    shop: "feff876c-aaa5-4c65-9483-75498deabe28"
                    slug: "hello"
                    reference: "3bb21c57ac"
                    active: true
                    visited_count: 42
                    require_email: false
                    show_email: false
                    require_phone: false
                    show_phone: false
                    require_name: false
                    show_name: false
                    require_social_link: false
                    show_social_link: false
                    cancel_url: null
                    success_url: null
                    created_at: "2026-05-25T10:00:00.000Z"
                    modified_at: "2026-05-25T10:00:00.000Z"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    post:
      tags:
        - Donation Links
      summary: Создать донат-ссылку
      description: >
        Создаёт новую донат-ссылку для магазина. Slug должен быть уникальным
        в рамках всей платформы. Созданная ссылка сразу доступна по адресу
        `https://zionpayment.com/d/<slug>/`.
      operationId: createDonationLink
      parameters:
        - $ref: '#/components/parameters/ShopIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DonationLinkRequest'
            example:
              slug: "my-donation-page"
              active: true
              show_name: true
              require_email: true
              show_email: true
      responses:
        '201':
          description: Донат-ссылка успешно создана.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DonationLink'
              example:
                id: "8b463fd1-bd03-496b-840c-08eb3518cea0"
                shop: "feff876c-aaa5-4c65-9483-75498deabe28"
                slug: "my-donation-page"
                reference: "3bb21c57ac"
                active: true
                visited_count: 0
                require_email: true
                show_email: true
                require_phone: false
                show_phone: false
                require_name: false
                show_name: true
                require_social_link: false
                show_social_link: false
                cancel_url: null
                success_url: null
                created_at: "2026-05-25T10:00:00.000Z"
                modified_at: "2026-05-25T10:00:00.000Z"
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /api/v1/shops/{shop_id}/donation-links/{donation_link_id}/:
    get:
      tags:
        - Donation Links
      summary: Получить донат-ссылку
      description: Возвращает детали донат-ссылки по её ID.
      operationId: getDonationLink
      parameters:
        - $ref: '#/components/parameters/ShopIdPath'
        - $ref: '#/components/parameters/DonationLinkIdPath'
      responses:
        '200':
          description: Детали донат-ссылки.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DonationLink'
              example:
                id: "8b463fd1-bd03-496b-840c-08eb3518cea0"
                shop: "feff876c-aaa5-4c65-9483-75498deabe28"
                slug: "hello"
                reference: "3bb21c57ac"
                active: true
                visited_count: 42
                require_email: false
                show_email: false
                require_phone: false
                show_phone: false
                require_name: false
                show_name: false
                require_social_link: false
                show_social_link: false
                cancel_url: null
                success_url: null
                created_at: "2026-05-25T10:00:00.000Z"
                modified_at: "2026-05-25T10:00:00.000Z"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    patch:
      tags:
        - Donation Links
      summary: Обновить донат-ссылку
      description: >
        Частично обновляет настройки донат-ссылки. Все поля опциональны.
        Поля `id`, `shop`, `reference`, `visited_count`, `created_at`, `modified_at`
        доступны только для чтения.
      operationId: updateDonationLink
      parameters:
        - $ref: '#/components/parameters/ShopIdPath'
        - $ref: '#/components/parameters/DonationLinkIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DonationLinkRequest'
            example:
              active: false
      responses:
        '200':
          description: Донат-ссылка успешно обновлена.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DonationLink'
              example:
                id: "8b463fd1-bd03-496b-840c-08eb3518cea0"
                shop: "feff876c-aaa5-4c65-9483-75498deabe28"
                slug: "hello"
                reference: "3bb21c57ac"
                active: false
                visited_count: 42
                require_email: false
                show_email: false
                require_phone: false
                show_phone: false
                require_name: false
                show_name: false
                require_social_link: false
                show_social_link: false
                cancel_url: null
                success_url: null
                created_at: "2026-05-25T10:00:00.000Z"
                modified_at: "2026-05-25T10:30:00.000Z"
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    delete:
      tags:
        - Donation Links
      summary: Удалить донат-ссылку
      description: >
        Удаляет донат-ссылку. После удаления публичная ссылка
        `https://zionpayment.com/d/<slug>/` перестаёт работать.
      operationId: deleteDonationLink
      parameters:
        - $ref: '#/components/parameters/ShopIdPath'
        - $ref: '#/components/parameters/DonationLinkIdPath'
      responses:
        '204':
          description: Донат-ссылка успешно удалена.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /api/v1/shops/{shop_id}/pos-links/:
    get:
      tags:
        - POS Links
      summary: Список POS-ссылок
      description: >
        Возвращает список POS-ссылок магазина. POS-ссылки предназначены для
        приёма платежей в точке продажи — плательщик сканирует QR-код
        или переходит по ссылке и вводит сумму.
      operationId: listPosLinks
      parameters:
        - $ref: '#/components/parameters/ShopIdPath'
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/OffsetParam'
        - $ref: '#/components/parameters/OrderingParam'
      responses:
        '200':
          description: Список POS-ссылок успешно получен.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedPosLinks'
              example:
                count: 1
                next: null
                previous: null
                results:
                  - id: "b86717ca-81a1-4813-98cc-27e4f25e7819"
                    shop: "feff876c-aaa5-4c65-9483-75498deabe28"
                    slug: "alchemist"
                    reference: "a1b2c3d4e5"
                    cancel_url: null
                    success_url: null
                    created_at: "2026-05-25T10:00:00.000Z"
                    modified_at: "2026-05-25T10:00:00.000Z"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    post:
      tags:
        - POS Links
      summary: Создать POS-ссылку
      description: >
        Создаёт новую POS-ссылку для магазина. Slug должен быть уникальным
        в рамках всей платформы. Ссылка сразу доступна по адресу
        `https://zionpayment.com/pos/<slug>/`.
      operationId: createPosLink
      parameters:
        - $ref: '#/components/parameters/ShopIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PosLinkRequest'
            example:
              slug: "alchemist"
      responses:
        '201':
          description: POS-ссылка успешно создана.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PosLink'
              example:
                id: "b86717ca-81a1-4813-98cc-27e4f25e7819"
                shop: "feff876c-aaa5-4c65-9483-75498deabe28"
                slug: "alchemist"
                reference: "a1b2c3d4e5"
                cancel_url: null
                success_url: null
                created_at: "2026-05-25T10:00:00.000Z"
                modified_at: "2026-05-25T10:00:00.000Z"
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /api/v1/shops/{shop_id}/pos-links/{pos_link_id}/:
    get:
      tags:
        - POS Links
      summary: Получить POS-ссылку
      description: Возвращает детали POS-ссылки по её ID.
      operationId: getPosLink
      parameters:
        - $ref: '#/components/parameters/ShopIdPath'
        - $ref: '#/components/parameters/PosLinkIdPath'
      responses:
        '200':
          description: Детали POS-ссылки.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PosLink'
              example:
                id: "b86717ca-81a1-4813-98cc-27e4f25e7819"
                shop: "feff876c-aaa5-4c65-9483-75498deabe28"
                slug: "alchemist"
                reference: "a1b2c3d4e5"
                cancel_url: null
                success_url: null
                created_at: "2026-05-25T10:00:00.000Z"
                modified_at: "2026-05-25T10:00:00.000Z"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    patch:
      tags:
        - POS Links
      summary: Обновить POS-ссылку
      description: >
        Частично обновляет POS-ссылку. Поля `id`, `shop`, `reference`,
        `created_at`, `modified_at` доступны только для чтения.
      operationId: updatePosLink
      parameters:
        - $ref: '#/components/parameters/ShopIdPath'
        - $ref: '#/components/parameters/PosLinkIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PosLinkRequest'
            example:
              slug: "alchemist-v2"
      responses:
        '200':
          description: POS-ссылка успешно обновлена.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PosLink'
              example:
                id: "b86717ca-81a1-4813-98cc-27e4f25e7819"
                shop: "feff876c-aaa5-4c65-9483-75498deabe28"
                slug: "alchemist-v2"
                reference: "a1b2c3d4e5"
                cancel_url: null
                success_url: null
                created_at: "2026-05-25T10:00:00.000Z"
                modified_at: "2026-05-25T10:30:00.000Z"
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    delete:
      tags:
        - POS Links
      summary: Удалить POS-ссылку
      description: >
        Удаляет POS-ссылку. После удаления публичная ссылка
        `https://zionpayment.com/pos/<slug>/` перестаёт работать.
      operationId: deletePosLink
      parameters:
        - $ref: '#/components/parameters/ShopIdPath'
        - $ref: '#/components/parameters/PosLinkIdPath'
      responses:
        '204':
          description: POS-ссылка успешно удалена.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  # ─── Subscriptions ──────────────────────────────────────────────────────────

  /api/v1/shops/{shop_id}/subscriptions/:
    get:
      tags:
        - Subscriptions
      summary: Список подписок
      description: >
        Возвращает список подписок магазина. Подписки — это шаблоны периодических
        платежей: клиент приглашается по email, получает ссылку и оплачивает
        по ней каждые `interval_day` дней.
      operationId: listSubscriptions
      parameters:
        - $ref: '#/components/parameters/ShopIdPath'
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/OffsetParam'
        - $ref: '#/components/parameters/OrderingParam'
      responses:
        '200':
          description: Список подписок успешно получен.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedSubscriptions'
              example:
                count: 1
                next: null
                previous: null
                results:
                  - id: "fa3bf8c3-c1d8-429c-b5d8-52fa41406c8c"
                    shop: "feff876c-aaa5-4c65-9483-75498deabe28"
                    reference: "a1b2c3d4e5"
                    title: "Подписка Pro"
                    order_id: "sub-001"
                    order_description: "Ежемесячная подписка"
                    amount: "10.000000"
                    currency: "USDTTRC20"
                    interval_day: 30
                    active: true
                    cancel_url: null
                    success_url: null
                    created_at: "2026-05-25T10:00:00.000Z"
                    modified_at: "2026-05-25T10:00:00.000Z"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    post:
      tags:
        - Subscriptions
      summary: Создать подписку
      description: >
        Создаёт новый шаблон подписки в магазине. После создания
        можно приглашать клиентов через `POST /subscriptions/{subscription_id}/invite-customer/`.
      operationId: createSubscription
      parameters:
        - $ref: '#/components/parameters/ShopIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubscriptionRequest'
            example:
              title: "Подписка Pro"
              amount: "10.000000"
              currency: "USDTTRC20"
              interval_day: 30
              order_description: "Ежемесячная подписка"
      responses:
        '201':
          description: Подписка успешно создана.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'
              example:
                id: "fa3bf8c3-c1d8-429c-b5d8-52fa41406c8c"
                shop: "feff876c-aaa5-4c65-9483-75498deabe28"
                reference: "a1b2c3d4e5"
                title: "Подписка Pro"
                order_id: null
                order_description: "Ежемесячная подписка"
                amount: "10.000000"
                currency: "USDTTRC20"
                interval_day: 30
                active: true
                cancel_url: null
                success_url: null
                created_at: "2026-05-25T10:00:00.000Z"
                modified_at: "2026-05-25T10:00:00.000Z"
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /api/v1/shops/{shop_id}/subscriptions/{subscription_id}/:
    get:
      tags:
        - Subscriptions
      summary: Получить подписку
      description: Возвращает детали подписки по её ID.
      operationId: getSubscription
      parameters:
        - $ref: '#/components/parameters/ShopIdPath'
        - $ref: '#/components/parameters/SubscriptionIdPath'
      responses:
        '200':
          description: Детали подписки.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'
              example:
                id: "fa3bf8c3-c1d8-429c-b5d8-52fa41406c8c"
                shop: "feff876c-aaa5-4c65-9483-75498deabe28"
                reference: "a1b2c3d4e5"
                title: "Подписка Pro"
                order_id: "sub-001"
                order_description: "Ежемесячная подписка"
                amount: "10.000000"
                currency: "USDTTRC20"
                interval_day: 30
                active: true
                cancel_url: null
                success_url: null
                created_at: "2026-05-25T10:00:00.000Z"
                modified_at: "2026-05-25T10:00:00.000Z"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    patch:
      tags:
        - Subscriptions
      summary: Обновить подписку
      description: >
        Частично обновляет параметры подписки. Поля `id`, `shop`, `reference`,
        `created_at`, `modified_at` доступны только для чтения.
      operationId: updateSubscription
      parameters:
        - $ref: '#/components/parameters/ShopIdPath'
        - $ref: '#/components/parameters/SubscriptionIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubscriptionRequest'
            example:
              active: false
      responses:
        '200':
          description: Подписка успешно обновлена.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'
              example:
                id: "fa3bf8c3-c1d8-429c-b5d8-52fa41406c8c"
                shop: "feff876c-aaa5-4c65-9483-75498deabe28"
                reference: "a1b2c3d4e5"
                title: "Подписка Pro"
                order_id: "sub-001"
                order_description: "Ежемесячная подписка"
                amount: "10.000000"
                currency: "USDTTRC20"
                interval_day: 30
                active: false
                cancel_url: null
                success_url: null
                created_at: "2026-05-25T10:00:00.000Z"
                modified_at: "2026-05-25T10:30:00.000Z"
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    delete:
      tags:
        - Subscriptions
      summary: Удалить подписку
      description: Удаляет шаблон подписки. Существующие клиенты подписки остаются в базе.
      operationId: deleteSubscription
      parameters:
        - $ref: '#/components/parameters/ShopIdPath'
        - $ref: '#/components/parameters/SubscriptionIdPath'
      responses:
        '204':
          description: Подписка успешно удалена.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /api/v1/shops/{shop_id}/subscriptions/{subscription_id}/invite-customer/:
    post:
      tags:
        - Subscriptions
      summary: Пригласить клиента на подписку
      description: >
        Создаёт запись клиента подписки и отправляет ему письмо с платёжной ссылкой.
        Тело запроса: `email` — адрес клиента.
      operationId: inviteSubscriptionCustomer
      parameters:
        - $ref: '#/components/parameters/ShopIdPath'
        - $ref: '#/components/parameters/SubscriptionIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
              properties:
                email:
                  type: string
                  format: email
                  description: Email клиента для отправки приглашения.
                  example: "customer@example.com"
            example:
              email: "customer@example.com"
      responses:
        '201':
          description: Клиент успешно приглашён, email с платёжной ссылкой отправлен.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionCustomer'
              example:
                id: "8d070af6-8a3b-4e46-bfd6-544377d4bfcb"
                subscription: "fa3bf8c3-c1d8-429c-b5d8-52fa41406c8c"
                email: "customer@example.com"
                sent_at: "2026-05-25T10:00:00.000Z"
                is_deleted: false
                created_at: "2026-05-25T10:00:00.000Z"
                modified_at: "2026-05-25T10:00:00.000Z"
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  # ─── Payments ────────────────────────────────────────────────────────────────

  /api/v1/shops/{shop_id}/payments/:
    get:
      tags:
        - Payments
      summary: Список платежей
      description: >
        Возвращает список крипто-платежей магазина с поддержкой пагинации,
        фильтрации и сортировки. Платёж создаётся автоматически при переходе
        клиента по ссылке оплаты (invoice, donation, POS) или через API мерчанта.
        Фильтры: `reference`, `wallet__address`, `order_id`,
        `transactions__transaction_hash`, `status`, `currency__name`,
        `fixed_rate`, `fee_paid_by_user`, `created_at`, `modified_at`.
      operationId: listPayments
      parameters:
        - $ref: '#/components/parameters/ShopIdPath'
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/OffsetParam'
        - $ref: '#/components/parameters/OrderingParam'
        - $ref: '#/components/parameters/CreatedAtAfter'
        - $ref: '#/components/parameters/CreatedAtBefore'
        - name: status
          in: query
          required: false
          schema:
            type: string
            enum:
              - PENDING
              - CONFIRMING
              - COMPLETED
              - EXPIRED
              - UNDERPAID
              - OVERPAID
              - MULTIPLE
              - DELAYED
              - REJECTED
              - RESOLVED
          description: Фильтр по статусу платежа.
          example: "PENDING"
        - name: currency__name
          in: query
          required: false
          schema:
            type: string
          description: Фильтр по коду валюты (например USDTTRC20).
          example: "USDTTRC20"
        - name: reference
          in: query
          required: false
          schema:
            type: string
          description: Фильтр по reference платежа.
          example: "183a633938"
        - name: order_id
          in: query
          required: false
          schema:
            type: string
          description: Фильтр по order_id мерчанта.
          example: "order-2026-001"
        - name: wallet__address
          in: query
          required: false
          schema:
            type: string
          description: Фильтр по адресу депозитного кошелька.
          example: "TQrY8tryqsYVCYS3MFbtffiPp2ccyn4STm"
      responses:
        '200':
          description: Список платежей успешно получен.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedPayments'
              example:
                count: 1
                next: null
                previous: null
                results:
                  - id: "9ada8297-5ac9-4810-a184-3de37f617677"
                    shop: "feff876c-aaa5-4c65-9483-75498deabe28"
                    reference: "183a633938"
                    order_id: null
                    order_description: null
                    currency: "USDTTRC20"
                    amount: "10.000000"
                    received_amount: "0.000000"
                    outcome_amount: "0.000000"
                    address: "TQrY8tryqsYVCYS3MFbtffiPp2ccyn4STm"
                    status: "PENDING"
                    type: "INVOICE_PAYMENT"
                    fixed_rate: true
                    fee_paid_by_user: true
                    commission_paid_by_user: true
                    rate: null
                    fee: "7.007354"
                    commission: "0.100000"
                    preliminary_model: "INVOICE"
                    preliminary_reference: "e477b48c41"
                    invoice_amount: "10.000000"
                    deposit_hash: null
                    deposit_block_date: null
                    cancel_url: null
                    success_url: null
                    expires_at: "2026-05-25T11:00:00.000Z"
                    created_at: "2026-05-25T10:00:00.000Z"
                    modified_at: "2026-05-25T10:00:00.000Z"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /api/v1/shops/{shop_id}/payments/{payment_id}/:
    get:
      tags:
        - Payments
      summary: Получить платёж
      description: Возвращает детали крипто-платежа по его ID.
      operationId: getPayment
      parameters:
        - $ref: '#/components/parameters/ShopIdPath'
        - $ref: '#/components/parameters/PaymentIdPath'
      responses:
        '200':
          description: Детали платежа.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
              example:
                id: "9ada8297-5ac9-4810-a184-3de37f617677"
                shop: "feff876c-aaa5-4c65-9483-75498deabe28"
                reference: "183a633938"
                order_id: null
                order_description: null
                currency: "USDTTRC20"
                amount: "10.000000"
                received_amount: "0.000000"
                outcome_amount: "0.000000"
                address: "TQrY8tryqsYVCYS3MFbtffiPp2ccyn4STm"
                status: "EXPIRED"
                type: "INVOICE_PAYMENT"
                fixed_rate: true
                fee_paid_by_user: true
                commission_paid_by_user: true
                rate: null
                fee: "7.007354"
                commission: "0.100000"
                preliminary_model: "INVOICE"
                preliminary_reference: "e477b48c41"
                invoice_amount: "10.000000"
                deposit_hash: null
                deposit_block_date: null
                cancel_url: null
                success_url: null
                expires_at: "2026-05-25T11:00:00.000Z"
                created_at: "2026-05-25T10:00:00.000Z"
                modified_at: "2026-05-25T11:00:00.000Z"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /api/v1/shops/{shop_id}/payments/{payment_id}/resolve/:
    post:
      tags:
        - Payments
      summary: Разрешить неоднозначный платёж
      description: >
        Применяется для платежей в статусе MULTIPLE или UNDERPAID/OVERPAID.
        Позволяет мерчанту вручную принять решение — засчитать платёж как выполненный.
      operationId: resolvePayment
      parameters:
        - $ref: '#/components/parameters/ShopIdPath'
        - $ref: '#/components/parameters/PaymentIdPath'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Платёж успешно разрешён.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /api/v1/shops/{shop_id}/payments-export/:
    get:
      tags:
        - Payments
      summary: Экспорт платежей
      description: >
        Возвращает список платежей с расширенными аннотированными полями,
        пригодный для выгрузки в CSV. Поддерживает те же фильтры, что и `/payments/`.
      operationId: exportPayments
      parameters:
        - $ref: '#/components/parameters/ShopIdPath'
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/OffsetParam'
        - $ref: '#/components/parameters/CreatedAtAfter'
        - $ref: '#/components/parameters/CreatedAtBefore'
        - name: status
          in: query
          required: false
          schema:
            type: string
          description: Фильтр по статусу платежа.
      responses:
        '200':
          description: Список платежей для экспорта.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedPayments'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  # PUBLIC: создание платежа клиентом по инвойсу
  /api/v1/invoices/{invoice_id}/payments/:
    post:
      tags:
        - Payments
      summary: Создать платёж по инвойсу (PUBLIC)
      description: >
        Публичный endpoint — вызывается checkout-страницей от лица клиента-плательщика.
        Создаёт крипто-платёж по указанному инвойсу. Возвращает адрес кошелька
        для оплаты и сумму в выбранной криптовалюте.
        Авторизация НЕ требуется.
      operationId: createInvoicePayment
      security: []
      parameters:
        - $ref: '#/components/parameters/InvoiceIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentCreateRequest'
            example:
              currency: "USDTTRC20"
      responses:
        '201':
          description: Платёж успешно создан. Клиент должен перевести средства на `address`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
              example:
                id: "9ada8297-5ac9-4810-a184-3de37f617677"
                reference: "183a633938"
                currency: "USDTTRC20"
                amount: "10.000000"
                received_amount: "0.000000"
                address: "TQrY8tryqsYVCYS3MFbtffiPp2ccyn4STm"
                status: "PENDING"
                expires_at: "2026-05-25T11:00:00.000Z"
                created_at: "2026-05-25T10:00:00.000Z"
                modified_at: "2026-05-25T10:00:00.000Z"
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  # PUBLIC: создание платежа клиентом по донат-ссылке
  /api/v1/donation-links/{donation_id}/payments/:
    post:
      tags:
        - Payments
      summary: Создать платёж по донат-ссылке (PUBLIC)
      description: >
        Публичный endpoint — вызывается checkout-страницей от лица донатера.
        Создаёт крипто-платёж по донат-ссылке. Параметр пути — ID донат-ссылки (UUID).
        Авторизация НЕ требуется.
      operationId: createDonationPayment
      security: []
      parameters:
        - name: donation_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: ID донат-ссылки (UUID).
          example: "8b463fd1-bd03-496b-840c-08eb3518cea0"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentCreateRequest'
            example:
              currency: "USDTTRC20"
              amount: "25.000000"
              donation_name: "Иван Иванов"
              donation_email: "ivan@example.com"
      responses:
        '201':
          description: Платёж успешно создан.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  # PUBLIC: создание платежа клиентом по POS-ссылке
  /api/v1/pos-links/{pos_id}/payments/:
    post:
      tags:
        - Payments
      summary: Создать платёж по POS-ссылке (PUBLIC)
      description: >
        Публичный endpoint — вызывается POS-терминалом от лица покупателя.
        Создаёт крипто-платёж по POS-ссылке. Параметр пути — ID POS-ссылки (UUID).
        Авторизация НЕ требуется.
      operationId: createPosPayment
      security: []
      parameters:
        - name: pos_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: ID POS-ссылки (UUID).
          example: "b86717ca-81a1-4813-98cc-27e4f25e7819"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentCreateRequest'
            example:
              currency: "USDTTRC20"
              amount: "50.000000"
      responses:
        '201':
          description: Платёж успешно создан.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  # PUBLIC: создание платежа по подписке клиентом
  /api/v1/subscription-customers/{subscription_customer_id}/payments/:
    post:
      tags:
        - Subscriptions
      summary: Оплатить подписку (PUBLIC)
      description: >
        Публичный endpoint — вызывается клиентом по ссылке из письма-приглашения.
        Создаёт крипто-платёж в счёт периодической подписки.
        Авторизация НЕ требуется.
      operationId: createSubscriptionPayment
      security: []
      parameters:
        - $ref: '#/components/parameters/SubscriptionCustomerIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentCreateRequest'
            example:
              currency: "USDTTRC20"
      responses:
        '201':
          description: Платёж по подписке успешно создан.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  # ─── Fiat Payments ───────────────────────────────────────────────────────────

  /api/v1/shops/{shop_id}/fiat-payments/:
    get:
      tags:
        - Fiat Payments
      summary: Список фиат-платежей
      description: >
        Возвращает список фиат-платежей магазина. Фиат-платёж — это on-ramp операция:
        клиент платит картой/банком (USD/EUR/RUB), Zion через Changelly конвертирует
        и зачисляет криптовалюту на счёт мерчанта.
      operationId: listFiatPayments
      parameters:
        - $ref: '#/components/parameters/ShopIdPath'
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/OffsetParam'
        - $ref: '#/components/parameters/OrderingParam'
        - $ref: '#/components/parameters/CreatedAtAfter'
        - $ref: '#/components/parameters/CreatedAtBefore'
      responses:
        '200':
          description: Список фиат-платежей успешно получен.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedFiatPayments'
              example:
                count: 1
                next: null
                previous: null
                results:
                  - id: "b337b3ac-fa5c-4eea-99b6-f502aeb459c8"
                    shop: "feff876c-aaa5-4c65-9483-75498deabe28"
                    reference: "183a633938"
                    currency: "USD"
                    amount: "100.000000"
                    destination_currency: "USDTTRC20"
                    status: "PENDING"
                    provider: "Changelly"
                    country: "US"
                    payment_method: "card"
                    external_order_id: null
                    external_redirect_url: null
                    created_at: "2026-05-25T10:00:00.000Z"
                    modified_at: "2026-05-25T10:00:00.000Z"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    post:
      tags:
        - Fiat Payments
      summary: Создать фиат-платёж
      description: >
        Инициирует новый фиат-платёж. После создания необходимо вызвать
        `POST /fiat-payments/{id}/pay/` (PUBLIC API) для создания ордера у Changelly
        и получения ссылки на редирект для клиента.
      operationId: createFiatPayment
      parameters:
        - $ref: '#/components/parameters/ShopIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FiatPaymentCreateRequest'
            example:
              currency: "USD"
              amount: "100.000000"
              destination_currency: "USDTTRC20"
              country: "US"
      responses:
        '201':
          description: Фиат-платёж успешно создан.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FiatPayment'
              example:
                id: "b337b3ac-fa5c-4eea-99b6-f502aeb459c8"
                shop: "feff876c-aaa5-4c65-9483-75498deabe28"
                reference: "183a633938"
                currency: "USD"
                amount: "100.000000"
                destination_currency: "USDTTRC20"
                status: "PENDING"
                provider: null
                country: "US"
                payment_method: null
                external_order_id: null
                external_redirect_url: null
                created_at: "2026-05-25T10:00:00.000Z"
                modified_at: "2026-05-25T10:00:00.000Z"
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /api/v1/shops/{shop_id}/fiat-payments/{fiat_payment_id}/:
    get:
      tags:
        - Fiat Payments
      summary: Получить фиат-платёж
      description: Возвращает детали фиат-платежа по его ID.
      operationId: getFiatPayment
      parameters:
        - $ref: '#/components/parameters/ShopIdPath'
        - $ref: '#/components/parameters/FiatPaymentIdPath'
      responses:
        '200':
          description: Детали фиат-платежа.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FiatPayment'
              example:
                id: "b337b3ac-fa5c-4eea-99b6-f502aeb459c8"
                shop: "feff876c-aaa5-4c65-9483-75498deabe28"
                reference: "183a633938"
                currency: "USD"
                amount: "100.000000"
                destination_currency: "USDTTRC20"
                status: "COMPLETED"
                provider: "Changelly"
                country: "US"
                payment_method: "card"
                external_order_id: "ch_abc123"
                external_redirect_url: null
                created_at: "2026-05-25T10:00:00.000Z"
                modified_at: "2026-05-25T10:30:00.000Z"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /api/v1/shops/{shop_id}/fiat-payments/countries/:
    get:
      tags:
        - Fiat Payments
      summary: Список поддерживаемых стран
      description: >
        Возвращает список стран, поддерживаемых для фиат-платежей через Changelly.
        Используется на этапе инициации фиат-платежа для выбора страны клиента.
      operationId: listFiatPaymentCountries
      parameters:
        - $ref: '#/components/parameters/ShopIdPath'
      responses:
        '200':
          description: Список стран.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    example: 50
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          description: ISO 3166-1 alpha-2 код страны.
                          example: "US"
                        name:
                          type: string
                          description: Название страны.
                          example: "United States"
                        available_payment_methods:
                          type: array
                          items:
                            type: string
                          description: Доступные способы оплаты в данной стране.
                          example:
                            - "card"
                            - "bank_transfer"
              example:
                count: 2
                results:
                  - code: "US"
                    name: "United States"
                    available_payment_methods:
                      - "card"
                  - code: "DE"
                    name: "Germany"
                    available_payment_methods:
                      - "card"
                      - "bank_transfer"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  # ── Withdrawals (regular) ──────────────────────────────────────────────────

  /api/v1/shops/{shop_id}/withdrawals/:
    get:
      tags:
        - Withdrawals
      summary: Список выводов
      description: >
        Возвращает список выводов средств для указанного магазина.
        Поддерживает пагинацию и фильтрацию по статусу, дате создания.
      operationId: listWithdrawals
      parameters:
        - $ref: '#/components/parameters/ShopIdPath'
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/OffsetParam'
        - $ref: '#/components/parameters/OrderingParam'
        - $ref: '#/components/parameters/CreatedAtAfter'
        - $ref: '#/components/parameters/CreatedAtBefore'
        - name: status
          in: query
          required: false
          schema:
            type: string
            enum:
              - PENDING
              - APPROVING
              - CONFIRMING
              - COMPLETED
              - FAILED
              - DISAPPROVED
          description: Фильтр по статусу вывода.
      responses:
        '200':
          description: Список выводов успешно получен.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedWithdrawals'
              example:
                count: 1
                next: null
                previous: null
                results:
                  - id: "b8a6b808-6826-48d1-911a-e1c2bbe27912"
                    shop: "feff876c-aaa5-4c65-9483-75498deabe28"
                    reference: "wd_a1b2c3d4e5"
                    currency: "USDTTRC20"
                    amount: "100.000000"
                    fee: "2.000000"
                    address: "TRKxd8cZugoMpDyLjnFrafoHz2j4mGUgo2"
                    transaction_hash: "8bd11d14987557b36022bde3adec60e70e17540d625e04cf263b37aed4ea4a06"
                    type: "WITHDRAW"
                    status: "COMPLETED"
                    note: null
                    external_reference: null
                    approved_at: "2023-10-16T21:08:08.332Z"
                    failed_at: null
                    disapproved_at: null
                    refunded_at: null
                    created_at: "2023-10-16T20:00:00.000Z"
                    modified_at: "2023-10-16T21:08:08.332Z"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    post:
      tags:
        - Withdrawals
      summary: Создать вывод
      description: >
        Создаёт запрос на вывод средств с баланса магазина на указанный адрес.


        **Требуется IP whitelist (`IsIPValidPermission`):** IP-адрес, с которого
        выполняется запрос, должен быть добавлен в белый список магазина
        (Настройки → Shop IPs в дашборде). Без одобренного IP-адреса запрос
        вернёт `403 Forbidden`.


        **Внимание:** операция необратима — вывод после подтверждения нельзя
        отменить. Проверьте адрес получателя перед отправкой.
      operationId: createWithdrawal
      parameters:
        - $ref: '#/components/parameters/ShopIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WithdrawalCreateRequest'
            example:
              currency: "USDTTRC20"
              amount: "100.000000"
              address: "TRKxd8cZugoMpDyLjnFrafoHz2j4mGUgo2"
              note: "Выплата за июль"
      responses:
        '201':
          description: Вывод создан и поставлен в очередь на обработку.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Withdrawal'
              example:
                id: "b8a6b808-6826-48d1-911a-e1c2bbe27912"
                shop: "feff876c-aaa5-4c65-9483-75498deabe28"
                reference: "wd_a1b2c3d4e5"
                currency: "USDTTRC20"
                amount: "100.000000"
                fee: "2.000000"
                address: "TRKxd8cZugoMpDyLjnFrafoHz2j4mGUgo2"
                transaction_hash: null
                type: "WITHDRAW"
                status: "PENDING"
                note: "Выплата за июль"
                external_reference: null
                approved_at: null
                failed_at: null
                disapproved_at: null
                refunded_at: null
                created_at: "2026-05-25T12:00:00.000Z"
                modified_at: "2026-05-25T12:00:00.000Z"
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /api/v1/shops/{shop_id}/withdrawals/{withdrawal_id}/:
    get:
      tags:
        - Withdrawals
      summary: Получить вывод
      description: Возвращает детальную информацию о выводе средств по его ID.
      operationId: getWithdrawal
      parameters:
        - $ref: '#/components/parameters/ShopIdPath'
        - $ref: '#/components/parameters/WithdrawalIdPath'
      responses:
        '200':
          description: Детали вывода.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Withdrawal'
              example:
                id: "b8a6b808-6826-48d1-911a-e1c2bbe27912"
                shop: "feff876c-aaa5-4c65-9483-75498deabe28"
                reference: "wd_a1b2c3d4e5"
                currency: "USDTTRC20"
                amount: "100.000000"
                fee: "2.000000"
                address: "TRKxd8cZugoMpDyLjnFrafoHz2j4mGUgo2"
                transaction_hash: "8bd11d14987557b36022bde3adec60e70e17540d625e04cf263b37aed4ea4a06"
                type: "WITHDRAW"
                status: "COMPLETED"
                note: null
                external_reference: null
                approved_at: "2023-10-16T21:08:08.332Z"
                failed_at: null
                disapproved_at: null
                refunded_at: null
                created_at: "2023-10-16T20:00:00.000Z"
                modified_at: "2023-10-16T21:08:08.332Z"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  # ── Withdrawals with OTP ────────────────────────────────────────────────────

  /api/v1/shops/{shop_id}/withdrawals-with-otp/:
    get:
      tags:
        - Withdrawals
      summary: Список выводов с OTP
      description: >
        Возвращает список выводов, созданных через OTP-подтверждённый flow
        (тип `WITHDRAW`, обработанных через `WithOTPPermission`).
      operationId: listWithdrawalsWithOtp
      parameters:
        - $ref: '#/components/parameters/ShopIdPath'
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/OffsetParam'
        - $ref: '#/components/parameters/OrderingParam'
        - $ref: '#/components/parameters/CreatedAtAfter'
        - $ref: '#/components/parameters/CreatedAtBefore'
      responses:
        '200':
          description: Список выводов с OTP-подтверждением.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedWithdrawals'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    post:
      tags:
        - Withdrawals
      summary: Создать вывод с OTP-подтверждением
      description: >
        Создаёт вывод средств с дополнительным подтверждением через одноразовый
        пароль (OTP). После вызова Zion отправляет OTP-код на email или SMS
        владельца магазина — код нужно передать в поле `otp_code`.


        **Требуется OTP scope (`WithOTPPermission`):** для API-токена магазина
        должно быть включено разрешение на OTP-операции в настройках магазина
        (Настройки → Токены → OTP). Без этого разрешения запрос вернёт
        `403 Forbidden`.


        **Внимание:** операция необратима. Убедитесь в правильности адреса
        получателя перед отправкой OTP-кода.
      operationId: createWithdrawalWithOtp
      parameters:
        - $ref: '#/components/parameters/ShopIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WithdrawalOtpCreateRequest'
            example:
              currency: "USDTTRC20"
              amount: "500.000000"
              address: "TRKxd8cZugoMpDyLjnFrafoHz2j4mGUgo2"
              otp_code: "847291"
              note: "Вывод с OTP"
      responses:
        '201':
          description: Вывод с OTP создан и поставлен в очередь.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Withdrawal'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  # ── Affiliate withdrawals ───────────────────────────────────────────────────

  /api/v1/shops/{shop_id}/affiliate-withdrawals/:
    get:
      tags:
        - Withdrawals
      summary: Список affiliate-выводов
      description: >
        Возвращает список выводов реферального (affiliate) баланса магазина.
        Тип записей — `AFFILIATE_WITHDRAW`.
      operationId: listAffiliateWithdrawals
      parameters:
        - $ref: '#/components/parameters/ShopIdPath'
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/OffsetParam'
        - $ref: '#/components/parameters/OrderingParam'
        - $ref: '#/components/parameters/CreatedAtAfter'
        - $ref: '#/components/parameters/CreatedAtBefore'
      responses:
        '200':
          description: Список affiliate-выводов.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedWithdrawals'
              example:
                count: 1
                next: null
                previous: null
                results:
                  - id: "cc4d5511-0000-0000-0000-111111111111"
                    shop: "feff876c-aaa5-4c65-9483-75498deabe28"
                    reference: "aff_wd_001"
                    currency: "USDTTRC20"
                    amount: "50.000000"
                    fee: "1.000000"
                    address: "TRKxd8cZugoMpDyLjnFrafoHz2j4mGUgo2"
                    transaction_hash: null
                    type: "AFFILIATE_WITHDRAW"
                    status: "PENDING"
                    note: null
                    external_reference: null
                    approved_at: null
                    failed_at: null
                    disapproved_at: null
                    refunded_at: null
                    created_at: "2026-05-25T09:00:00.000Z"
                    modified_at: "2026-05-25T09:00:00.000Z"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    post:
      tags:
        - Withdrawals
      summary: Создать affiliate-вывод
      description: >
        Создаёт запрос на вывод средств с реферального (affiliate) баланса
        магазина на указанный крипто-адрес.


        **Требуется OTP scope (`WithOTPPermission`):** для API-токена магазина
        должно быть включено разрешение на OTP-операции в настройках магазина.
        Без него запрос вернёт `403 Forbidden`.


        **Внимание:** операция необратима. Реферальный баланс будет уменьшен
        немедленно после подтверждения.
      operationId: createAffiliateWithdrawal
      parameters:
        - $ref: '#/components/parameters/ShopIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WithdrawalCreateRequest'
            example:
              currency: "USDTTRC20"
              amount: "50.000000"
              address: "TRKxd8cZugoMpDyLjnFrafoHz2j4mGUgo2"
      responses:
        '201':
          description: Affiliate-вывод создан.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Withdrawal'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  # ── Mass withdrawals ────────────────────────────────────────────────────────

  /api/v1/shops/{shop_id}/mass-withdrawals/:
    get:
      tags:
        - Withdrawals
      summary: Список массовых выводов
      description: >
        Возвращает список массовых выводов (batch-операций) для магазина.
        Каждый элемент — это пакет выводов, созданных за один вызов.
      operationId: listMassWithdrawals
      parameters:
        - $ref: '#/components/parameters/ShopIdPath'
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/OffsetParam'
        - $ref: '#/components/parameters/OrderingParam'
        - $ref: '#/components/parameters/CreatedAtAfter'
        - $ref: '#/components/parameters/CreatedAtBefore'
      responses:
        '200':
          description: Список массовых выводов.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedMassWithdrawals'
              example:
                count: 1
                next: null
                previous: null
                results:
                  - id: "f58aac36-29b9-40aa-938f-b1b6cc0007a8"
                    shop: "feff876c-aaa5-4c65-9483-75498deabe28"
                    reference: "mass_wd_001"
                    currency: "USDTTRC20"
                    amount: "1000.000000"
                    fee: "10.000000"
                    validated_at: null
                    status: "PENDING"
                    created_at: "2026-05-25T08:00:00.000Z"
                    modified_at: "2026-05-25T08:00:00.000Z"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    post:
      tags:
        - Withdrawals
      summary: Создать массовый вывод
      description: >
        Создаёт пакетный вывод средств сразу на несколько адресов за один запрос.


        **Требуется IP whitelist (`IsIPValidPermission`):** IP-адрес запроса
        должен быть добавлен в белый список магазина (Настройки → Shop IPs).
        Без одобренного IP запрос вернёт `403 Forbidden`.


        **Требуется OTP scope (`WithOTPPermission`):** API-токен должен иметь
        разрешение на OTP-операции. Без него запрос вернёт `403 Forbidden`.


        **Внимание:** операция необратима — массовый вывод нельзя отменить после
        запуска обработки. Проверяйте все адреса получателей до отправки.
      operationId: createMassWithdrawal
      parameters:
        - $ref: '#/components/parameters/ShopIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MassWithdrawalCreateRequest'
            example:
              currency: "USDTTRC20"
              withdrawals:
                - address: "TRKxd8cZugoMpDyLjnFrafoHz2j4mGUgo2"
                  amount: "100.000000"
                  note: "Выплата сотруднику 1"
                - address: "TJDENsfBJs4RFETt1X1W8wMDc8M5XnJhCe"
                  amount: "200.000000"
                  note: "Выплата сотруднику 2"
      responses:
        '201':
          description: Массовый вывод создан и поставлен в очередь.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MassWithdrawal'
              example:
                id: "f58aac36-29b9-40aa-938f-b1b6cc0007a8"
                shop: "feff876c-aaa5-4c65-9483-75498deabe28"
                reference: "mass_wd_001"
                currency: "USDTTRC20"
                amount: "300.000000"
                fee: "6.000000"
                validated_at: null
                status: "PENDING"
                created_at: "2026-05-25T12:00:00.000Z"
                modified_at: "2026-05-25T12:00:00.000Z"
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /api/v1/shops/{shop_id}/mass-withdrawals/{mass_withdrawal_id}/:
    get:
      tags:
        - Withdrawals
      summary: Получить массовый вывод
      description: Возвращает детальную информацию о конкретном массовом выводе по его ID.
      operationId: getMassWithdrawal
      parameters:
        - $ref: '#/components/parameters/ShopIdPath'
        - $ref: '#/components/parameters/MassWithdrawalIdPath'
      responses:
        '200':
          description: Детали массового вывода.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MassWithdrawal'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  # ── Conversions ─────────────────────────────────────────────────────────────

  /api/v1/shops/{shop_id}/conversions/:
    get:
      tags:
        - Conversions
      summary: Список конвертаций
      description: >
        Возвращает список конвертаций между криптовалютами для магазина.
        Поддерживает фильтрацию по статусу и датам.
      operationId: listConversions
      parameters:
        - $ref: '#/components/parameters/ShopIdPath'
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/OffsetParam'
        - $ref: '#/components/parameters/OrderingParam'
        - $ref: '#/components/parameters/CreatedAtAfter'
        - $ref: '#/components/parameters/CreatedAtBefore'
        - name: status
          in: query
          required: false
          schema:
            type: string
            enum:
              - PENDING
              - APPROVING
              - COMPLETED
              - FAILED
              - DISAPPROVED
          description: Фильтр по статусу конвертации.
        - name: currency__name
          in: query
          required: false
          schema:
            type: string
          description: Фильтр по исходной валюте (например `USDTTRC20`).
        - name: destination_currency__name
          in: query
          required: false
          schema:
            type: string
          description: Фильтр по целевой валюте (например `USDTERC20`).
      responses:
        '200':
          description: Список конвертаций.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedConversions'
              example:
                count: 1
                next: null
                previous: null
                results:
                  - id: "3d9d20ad-b021-4aad-bf45-63dd5f4ed659"
                    shop: "feff876c-aaa5-4c65-9483-75498deabe28"
                    reference: "conv_001"
                    currency: "USDTTRC20"
                    amount: "1000.000000"
                    fee: "5.000000"
                    destination_currency: "USDTERC20"
                    converted_amount: "993.000000"
                    type: "CONVERT"
                    status: "COMPLETED"
                    converted: true
                    approved_at: "2023-10-02T01:19:55.471Z"
                    failed_at: null
                    disapproved_at: null
                    created_at: "2023-10-01T22:00:00.000Z"
                    modified_at: "2023-10-02T01:19:55.471Z"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    post:
      tags:
        - Conversions
      summary: Создать конвертацию
      description: >
        Инициирует конвертацию баланса магазина из одной криптовалюты в другую.
        Конвертация выполняется через биржу (Binance или HTX) по текущему курсу.


        **Внимание:** операция необратима — после запуска конвертация не может
        быть отменена. Итоговая сумма зависит от курса в момент исполнения.
      operationId: createConversion
      parameters:
        - $ref: '#/components/parameters/ShopIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConversionCreateRequest'
            example:
              currency: "USDTTRC20"
              amount: "1000.000000"
              destination_currency: "USDTERC20"
      responses:
        '201':
          description: Конвертация создана и поставлена в очередь.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conversion'
              example:
                id: "3d9d20ad-b021-4aad-bf45-63dd5f4ed659"
                shop: "feff876c-aaa5-4c65-9483-75498deabe28"
                reference: "conv_001"
                currency: "USDTTRC20"
                amount: "1000.000000"
                fee: "5.000000"
                destination_currency: "USDTERC20"
                converted_amount: "0.000000"
                type: "CONVERT"
                status: "PENDING"
                converted: false
                approved_at: null
                failed_at: null
                disapproved_at: null
                created_at: "2026-05-25T12:00:00.000Z"
[...]
